@page
@model Doctors_Around.Pages.DoctorsModel
@{
    ViewData["Title"] = "Doctors";
}


<h1>List Of Doctors</h1>
<form class="form-group">
    <div class="row">
        <div class="col-sm">
            <input type="text" class="form-control" placeholder="Country">
        </div>
        <div class="col-sm">
            <input type="text" class="form-control" placeholder="City">
        </div>
        <div class="col-sm">
            <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="col-sm">
            <button class="btn"><i class="fas fa-search"></i></button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Name</th>
            <th scope="col">Specialty</th>
            <th scope="col">Adress</th>
            @if (true || User.Identity.IsAuthenticated)
            {
                <th scope="col">Actions</th>
            }
        </tr>
    </thead>
    @foreach (var doc in Model.Doctors)
    {
<tr>
    <th>
        @if (doc.accountType == Core.AccountType.Clinic)
        {
            <i class="fas fa-clinic-medical"></i>
        }
        else if (doc.accountType == Core.AccountType.Doctor)
        {
            <i class="fas fa-user-md"></i>
        }
        else
        {
            <i class="fas fa-hospital"></i>
        }
    </th>
    <th>@doc.Full_Name</th>
    <th>@doc.Specialty</th>
    <th>@doc.Country , @doc.City - @doc.Full_Name</th>
    
    <th>
        <a class="btn" href="#"><i class="fas fa-map-marked-alt"></i></a>
        @if (true || User.Identity.IsAuthenticated)
        {<!--<a class="btn" href="#"> <i class="fas fa-edit"></i></a>-->
            <a class="btn" href="#"><i class="fas fa-paper-plane"></i></a>
        }
    </th>
    
</tr>
    }
</table>
