@page
@model Doctors_Around.Pages.User.PatientModel
@{
    ViewData["Title"] = "Patient";
}

<div class="container">
    <div class="text-center">
        <h2>Full Name : @Model.user.Full_Name</h2>
        <h3>Email : @Model.user.Email</h3>
        <h3>Phone Number : @Model.user.Phone_number</h3>
    </div>
    <div class="row text-center border rounded p-3" style="background-color: rgba(255, 255, 255,0.2)">
        <div class="col-sm">
            <h2>Symptoms</h2>
            <ul class="list-group mb-1">
                @foreach(string symp in Model.user.Symptoms)
                {
                    <li class="list-group-item p-2 text-center"> 
                        <i class="fas fa-head-side-cough"></i>
                        @symp
                    </li>
                }
            </ul>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter1">
                Add Symptom
            </button>
        </div>
        <div class="col-sm">
            <h2>Medicins</h2>
            <ul class="list-group mb-1">
                @foreach (string medic in Model.user.Medicins)
                {
                    <li class="list-group-item p-2 text-center"><i class="fas fa-pills"></i> @medic</li>
                }
            </ul>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter2">
                Add Medicin
            </button>
        </div>
        <div class="col-sm">
            <h2>Previous Illnesses</h2>
            <ul class="list-group mb-1">
                @foreach (string illn in Model.user.PreviousIllnesses)
                {
                    <li class="list-group-item p-3 text-center">@illn</li>
                }
            </ul>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter3">
                Add Previous Illness
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add Symptoms</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control" type="text" placeholder="Coughing, Head-Ackes ??" />
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary">Add Symptom</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add Medicin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control" type="text" placeholder="Medicin ..."/>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="btn btn-primary">Add Medicin</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add Previous Illness</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control" type="text" placeholder="Ex : Fever">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Add Previous Illness</button>
            </div>
        </div>
    </div>
</div>