@page
@model Doctors_Around.Pages.User.PatientModel
@{
    ViewData["Title"] = "Patient";
}

<div class="container">
    <div class="row">
        @Model.user.Full_Name
        @Model.user.Email
        @Model.user.Phone_number
    </div>
    <div class="row text-center">
        <div class="col-sm">
            <h2>Symptoms</h2>
            <ul class="list-group">
                @foreach(string symp in Model.user.Symptoms)
                {
                    <li class="list-group-item p-2 text-center"> 
                        <i class="fas fa-head-side-cough"></i>
                        @symp
                    </li>
                }
            </ul>
        </div>
        <div class="col-sm">
            <h2>Medicins</h2>
            <ul class="list-group">
                @foreach (string medic in Model.user.Medicins)
                {
                    <li class="list-group-item p-2 text-center"><i class="fas fa-pills"></i> @medic</li>
                }
            </ul>
        </div>
        <div class="col-sm">
            <h2>Previous Illnesses</h2>
            <ul class="list-group">
                @foreach (string illn in Model.user.PreviousIllnesses)
                {
                    <li class="list-group-item p-2 text-center">@illn</li>
                }
            </ul>
        </div>
    </div>
</div>
